[
    {
        "tg_user_id": 123456789,
        "data": {
            "access_token": "xxxxxxxxxxxxxxxxxxxxxxxx",
            "expires_in": 604800,
            "token_type": "Bearer",
            "scope": null,
            "user_id": 123456,
            "refresh_token": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
        }
    }
]