## 配置文件

## 应用APP_ID&APP_SECRET https://bgm.tv/dev/app/create
APP_ID = 'bgmxxxxxxxxx'
APP_SECRET = 'xxxxxxxxxxxxxxxxxx'

# OAuth 端口
OAUTH_POST = 6008
# OAuth 回调地址
WEBSITE_BASE = f'http://localhost:{OAUTH_POST}/'

## Telegram Bot Username 不带@
BOT_USERNAME = 'BangumiBot'
## Telegram Bot Token
BOT_TOKEN = 'xxxxxxxxxxxxxxxxxxxxxxx'
## Telegram Bot 管理员 TG ID
# ADMIN_TG_ID = 12345678

## Redis
REDIS_HOST = 'localhost'
REDIS_PORT = '6379'
REDIS_DATABASE = 0

SESSION_EXPIRES = 3600 * 24

## ChromeDriver https://chromedriver.chromium.org/downloads
CHROMEDRIVER_PATH = ''

## 日志等级 INFO/DEBUG/ERROR
LOG_LEVEL = 'ERROR'

SENTRY_DSN = ''
ALLOW_IP = ''
